<div class='row'>
  <div class='location-details'>
    <div class='location-map'>
      <Map
        @lat={{@office.geolocation.lat}}
        @lng={{@office.geolocation.lng}}
        @zoom="9"
        @width="500"
        @height="500"
      />
    </div>
    <div class='location-description'>{{@office.name}}</div>
    <div class='location-address'>{{this.officeLocation}}</div>
    <div class='location-phone tiny'>{{@office.phone}}</div>
    <div class="location-select">
      <button
        class='wide'
        type='button'
        {{on 'click' (fn this.handleClick @office.redirectLink)}}
      >
        {{this.text}}
      </button>
    </div>
  </div>
</div>