{{page-title 'Locations'}}
<h2>Available Offices</h2>
<div class='location-container'>
  {{#each @model as |office|}}
    <Location
      @office={{office}}
      @geolocation={{office.geolocation}}
      @address={{office.address}}
      @redirectLink={{office.links.self}}
    />
  {{/each}}
</div>